*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 63.5%;
}

body{
  padding: 6rem;
}

h2{
  font-size: 3rem;

}

input{
  margin: 1rem 0 1rem 0;
  width: 100%;
  font-size: 1.2rem;
}

ol{
  margin: 5rem 5rem  0 5rem;
 
}
li{
  font-size: 2rem;
}

h3{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.card {
  text-align: center;
overflow: hidden;
margin: 0 1rem 1rem 0 
}

.card p {
  padding: .5rem;
}
.card img{
  max-height: 10.7rem;

}
